<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head profile="http://gmpg.org/xfn/11">
		<title>Dustin Sallings</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link title="Default" rel="stylesheet" media="screen"
			href="/static/dustin/style.css" />
		<link title="Default" rel="stylesheet" media="screen"
			href="/static/dustin/index.css" />
		<link title="Default" rel="stylesheet" media="screen"
			href="/static/dustin/rssbox.css" />
		<link title="Default" rel="stylesheet" media="handheld"
			    href="/static/dustin/handheld.css" />
    <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider" />
    <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/cd390a1f-291c-4952-8383-5545a5088037"/>
		<script type="text/javascript" src="/static/dustin/js/rsstoggle.js"></script>
	</head>

<body onload="loaded();">

<div id="nav">
	<ul>
		<li>Home</li>
		<li><a href="/~dustin/profile.html">Me</a></li>
		<li><a accesskey="p" href="http://dustinphoto.iriscouch.com/photo-public/_design/app/index.html"><em>P</em>hotos</a></li>
		<li><a href="//github.com/dustin">Projects</a></li>
	</ul>
</div>

<div id="mainbody">

	<div id="spyvspydiv">
		<img id="spyvspy" src="/static/dustin/images/spyvspy.png" alt="[spy vs. spy]"/>
	</div>

	<div id="projects" class="rssbox">
    <h1>Recent Updates to my Projects
	    <a href="//github.com/dustin.atom"><img src="/static/rss-icon.png" title="Atom feed from my projects" alt="atom"/></a></h1>

    <ul>
      {{ range .Github | limit 10 }}
      <li>
        {{ . }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>

	<div id="blog" class="rssbox">
    <h1>Recent Blog Posts
	    <a href="//dustin.sallings.org/atom.xml"><img src="/static/rss-icon.png" title="Atom feed from my blog" alt="atom"/></a></h1>

    <ul>
      {{ range .Blog.Entries | limit 15 }}
      <li>
        <a href="{{ (index .Links 0).URI }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

	</div>

	<div id="friends">
		<h1>Links</h1>
		<h2>Friends</h2>
		<ul>
			<li>
				<a rel="met" href="http://noelani.sallings.org/">Noelani</a>
			</li>
			<li>
				<a rel="met child" href="http://jennalynn.sallings.org/">Jennalynn</a>
			</li>
			<li>
				<a rel="met friend" href="http://jasonhudgins.blogspot.com/">Jason</a>
			</li>
			<li>
				<a rel="met friend" href="http://eppsteins.net/chris">Chris</a>
			</li>
			<li>
				<a rel="met friend" href="http://www.kensheppardson.com/">Ken</a>
			</li>
			<li>
				<a rel="met friend" href="http://metajack.im/">Metajack</a>
			</li>
			<li>
				<a rel="met friend" href="http://dormando.livejournal.com/">Dormando</a>
			</li>
      <li>
        <a rel="co-worker colleague met friend" href="http://http://literati.org/~seanl/">Sean Lynch</a>
      </li>
		</ul>
	</div>

</div> <!-- mainbody -->

<div id="alter-egos">
	See also:
 <a rel="me" href="https://plus.google.com/u/0/105229686595945792364">
   <img alt="g+" width="16" height="16"
        src="https://ssl.gstatic.com/s2/oz/images/faviconr2.ico" />
 </a>
	<!-- This was somewhat autogenerated -->
	<a rel="me" href="http://www.rockstarprogrammer.org/"><img alt="rockstarprogrammer" src="http://www.google.com/s2/favicons?domain=www.rockstarprogrammer.org"/></a>
	<a rel="me" href="http://dustin.sallings.org/"><img alt="github" src="http://www.google.com/s2/favicons?domain=github.com"/></a>
	<a rel="me" href="http://github.com/dustin"><img alt="github" src="http://www.google.com/s2/favicons?domain=github.com"/></a>
	<a rel="me" href="http://del.icio.us/dustin"><img alt="del.icio.us" src="http://www.google.com/s2/favicons?domain=del.icio.us"/></a>
	<a rel="me" href="http://www.backtype.com/dustin/"><img alt="backtype" src="http://www.google.com/s2/favicons?domain=www.backtype.com"/></a>
	<a rel="me" href="http://www.amazon.com/gp/registry/wishlist/36T6VUHRICSJ8"><img alt="amazon" src="http://www.google.com/s2/favicons?domain=www.amazon.com"/></a>
	<a rel="me" href="http://dlsspy.tumblr.com/"><img alt="tumblr" src="http://friendfeed.com/static/images/icons/tumblr.png"/></a>
	<a rel="me" href="http://friendfeed.com/dlsspy"><img alt="friendfeed" src="http://www.google.com/s2/favicons?domain=friendfeed.com"/></a>
	<a rel="me" href="http://getsatisfaction.com/people/dlsspy"><img alt="getsatisfaction" src="http://getsatisfaction.com/favicon.gif"/></a>
	<a rel="me" href="http://gitorious.org/users/dustin"><img alt="gitorious" src="http://www.google.com/s2/favicons?domain=gitorious.org"/></a>
	<a rel="me" href="http://identi.ca/dustin"><img alt="identi" src="http://www.google.com/s2/favicons?domain=identi.ca"/></a>
	<a rel="me" href="http://reddit.com/user/dlsspy"><img alt="reddit" src="http://www.google.com/s2/favicons?domain=reddit.com"/></a>
	<a rel="me" href="http://stackoverflow.com/users/39975/dustin"><img alt="stackoverflow" src="http://www.google.com/s2/favicons?domain=stackoverflow.com"/></a>
	<a rel="me" href="http://twitter.com/dlsspy"><img alt="twitter" src="http://www.google.com/s2/favicons?domain=twitter.com"/></a>
	<a rel="me" href="http://www.disqus.com/people/dlsspy"><img alt="disqus" src="http://friendfeed.com/static/images/icons/disqus.png"/></a>
	<a rel="me" href="http://www.facebook.com/people/Dustin_Sallings/541750437"><img alt="facebook" src="http://www.google.com/s2/favicons?domain=www.facebook.com"/></a>
	<a rel="me" href="http://books.google.com/books?uid=5229686595945792364"><img alt="google" src="http://www.google.com/s2/favicons?domain=books.google.com"/></a>
	<a rel="me" href="http://www.google.com/s2/profiles/105229686595945792364"><img alt="google" src="http://www.google.com/s2/favicons?domain=www.google.com"/></a>
	<a rel="me" href="http://www.intensedebate.com/people/dustin"><img alt="intensedebate" src="http://www.google.com/s2/favicons?domain=www.intensedebate.com"/></a>
	<a rel="me" href="http://www.last.fm/user/dlsspy/"><img alt="last" src="http://www.google.com/s2/favicons?domain=www.last.fm"/></a>
	<a rel="me" href="http://www.linkedin.com/in/dsallings"><img alt="linkedin" src="http://www.google.com/s2/favicons?domain=www.linkedin.com"/></a>
	<a rel="me" href="http://www.ohloh.net/accounts/dlsspy"><img alt="ohloh" src="http://www.google.com/s2/favicons?domain=www.ohloh.net"/></a>
	<a rel="me" href="http://www.pandora.com/people/dustin28"><img alt="pandora" src="http://www.google.com/s2/favicons?domain=www.pandora.com"/></a>
	<a rel="me" href="http://www.vimeo.com/dlsspy"><img alt="vimeo" src="http://www.google.com/s2/favicons?domain=www.vimeo.com"/></a>
	<a rel="me" href="http://youtube.com/user/dlsspy"><img alt="youtube"
	   src="http://www.google.com/s2/favicons?domain=youtube.com"/></a>
  <a rel="me" href="http://www.quora.com/Dustin-Sallings"><img alt="quora"
     src="http://www.quora.com/favicon.ico"/></a>
</div>

{{ template "_tail.html" }}

</body></html>
