body {
	font-family: "Tahoma", sans-serif;
	color: white;
	background: black url("/static/dustin-blue-3.png") no-repeat top right;
	margin-right: 300px;
	margin-bottom: 1em;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid white;
	border-right: 1px solid white;
	font-size: x-small;
}

.error #err {
    font-size: 72px;
}
